[2016-12-05 19:14] alby128 opened #1 "Apple OS: Handle QSetting strings with embedded zero-bytes"
There is a bug in QSetting on 10.12 that broke several applications. Qt developers have patched it for qt5 ( https://github.com/qt/qtbase/commit/764f5bf48cc87f4c72550b853ab93b815454cd48 ) and other developers have successfully backported the same patch on qt4 ( https://github.com/mumble-voip/mumble/issues/2638 ). Can you include this patch in this recipe? In this way, future installations of qt4 w

[2016-12-06 01:46] cartr opened #3 "Create a bottle for `qt`"
Users of [the _Hello World!_ Homebrew package](https://github.com/cp4k/homebrew-hello-world-2) frequently complain of long build times while installing `qt`. It would be nice to have a pre-built bottle that speeds up the installation process.

[2016-12-06 03:37] #1 closed

[2016-12-06 06:53] cartr commented on #3
I've manually created bottles for `qt` and `pyqt`, which should reduce installation times from several hours to 20 minutes. (It would be nice to have an automatic way to do this, but that's a problem for another day.)

[2016-12-06 06:53] #3 closed

[2016-12-15 14:08] bg4hkq opened #4 "10.12.2 (16C67) error"
[code]

[2016-12-19 00:48] cartr commented on #4
Thanks for the report! I'll try to look into what's causing this.

Could you please try re-running the install command with the `-v` flag (as in, `brew install -v cartr/qt4/qt`) and pasting the output in a Gist?

[2016-12-30 21:04] MikeMcQuaid opened #5 "Rename qt to qt4"
I recommend you rename the Qt formula to Qt4 and change `depends_on` accordingly. This is because now that Qt 4 has been removed from Homebrew in https://github.com/Homebrew/homebrew-core/pull/8306/ at some point in the future we'll be renaming the Qt5 formula to just Qt. I'll wait for your 👍 that you're ready before we do that to avoid screwing your tap.

[2016-12-30 21:23] MikeMcQuaid commented on #5
Actually `qt@4` would be preferable given our new incoming versioning scheme 👌

[2016-12-31 04:09] cartr commented on #5
I appreciate the advance notice! To be honest, renaming `qt` to `qt4` and `qt5` to `qt` seems like something that could cause a lot of problems for users. Has a "rename a package on top of a previous one and rename the old one to avoid conflicts"-type change ever been done before in Homebrew? In particular, I'm worried about these scenarios:

 - If someone upgrades from a state where `qt` is Qt4 a

[2016-12-31 17:02] MikeMcQuaid commented on #5
Homebrew will be doing this and this is intentional as we no longer support Qt4. This is no different to any other library in which we do a major version upgrade.

That software will be broken regardless now that it's been removed and no officially supported migration has been provided.

Yes.

Provided you use `formula_renames.json` they will be migrated happily from the old name but the formula s

[2016-12-31 21:16] cartr commented on #5
I've made a Pull Request with the name changes. Once I get everything built and tested (should take a couple days at most, I'd just like to ensure the packages still actually work), I'll merge it and we should be squared away.

Regarding the new names, I ended up going with `qt4` and `pyqt4` for now to match how [homebrew/versions](https://github.com/Homebrew/homebrew-versions) does it. Once the n

[2016-12-31 22:14] MikeMcQuaid commented on #5
Note that the homebrew/versions format has already been altered for the packages that have already been migrated into homebrew/core; that may be entirely completed before your PR is merged (depending on how much other stuff ends up on my plate in the coming weeks). My goal is to have all of the rest migrated very shortly. I'd strongly advise against renaming twice as you're going to cause more wor

[2017-01-02 19:52] tresf opened #7 "Travis-CI times out while attempting to install qt"
Attempting to leverage `cartr/qt4/qt` on a continuous-integration build system the below error occurs:

Direct link to build failure:  https://travis-ci.org/LMMS/lmms/jobs/188301347#L630

Downstream script logic:  https://github.com/LMMS/lmms/pull/3201/files

[code]

[2017-01-02 20:06] cartr commented on #7
That patch warning likely isn't the root problem; it happens on any machine that builds the formula from source and doesn't seem to cause issues there.

According to [their docs](https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version), Travis uses El Capitan by default. Since I don't currently provide binary builds for El Capitan, it's trying to build Qt4 from source and timing out. The

[2017-01-02 20:16] cartr opened #8 "Provide bottles for older OS versions"
**Quick note for Travis CI users:** Until this issue is fixed, you may be able to temporarily get your Travis builds working by switching to macOS Sierra with `osx_image: xcode8.2`. See [their docs](https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version) for more details about that.

<hr>

Now that Homebrew has completely pulled Qt4 support, some users want to install this tap on older O

[2017-01-02 20:32] tresf commented on #7
@cartr Thanks for the detailed explanation.  I was just reading up on stalled builds and Travis offers a [20-minute tickler](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received) as well, but your solution will ensure the build occurs quicker, which is a win-win.  Thanks!

Closing as this is not an issue with `cartr/qt4/qt`.

[2017-01-02 20:32] #7 closed

[2017-01-03 00:40] cartr commented on #4
Closing, as I haven't heard back from you and am unable to reproduce the issue.

[2017-01-03 00:40] #4 closed

[2017-01-04 09:25] mtola commented on #8
First, thank you for providing qt4 !

Try with that : travis_wait 90 brew install cartr/qt4/qt (here for 90 minutes)

[2017-01-04 17:20] notduncansmith commented on #5
Hey guys, I think I may have gotten caught up in the weird transitional state related to this issue.

I'm trying to install Poppler through Homebrew and it depends on `qt`, which Hombrew insists refers to Qt 5.

I've tapped and pinned this repo and run `brew install qt` which appears to successfully install this version (`4.8.7`), but every time I try to `brew install poppler --with-qt` it starts

[2017-01-09 18:50] bblacey commented on #8
There is actually a quick and easy way to provide bottles for older macOS versions now as long as the cartr QT4 version remains 4.8.7 (most likely because 4.8.7 is effectively EoL) because all of the homebrew-generated bottles are still available on bintray meaning that you can simply download them from [the homebrew bintray account](https://bintray.com/homebrew/bottles) for each port, upload them

[2017-01-09 20:52] cartr commented on #5
@notduncansmith The issue here seems to be that [the Poppler formula in `Homebrew/core`](https://github.com/Homebrew/homebrew-core/blob/master/Formula/poppler.rb) no longer supports building with the Qt4 backend, and the options have been re-wired to give you Qt5 instead.

I've never used Poppler, so I don't know how important the choice of backend is. If it doesn't really matter, you could try `b

[2017-01-09 21:17] cartr commented on #8
@bblacey I would appreciate your help and testing in getting bottles working on older macOS versions. Unfortunately, I'm not sure it would be possible to simply copy core's bottles – we're currently on `4.8.7_3` because of a [patch we added to fix a QSetting issue](https://github.com/cartr/homebrew-qt4/commit/b80b4e399cbafc00b07afca768c31d7f8914d89e), and the Homebrew bottles are built for version

[2017-01-09 22:13] bblacey commented on #8
Hi Cartr, will do on the PR and testing.  Currently I can easily test on Yosemite (10.10) and assuming that works, then we can be fairly certain the mechanism will work on other old macOS versions.  Would you mind uploading bottles for QT, Pyside, Pyside-tools and Shiboken first?  I will be happy review the other formulae in your qt4 repo and add them to the pull request if the homebrew bottles ex

[2017-01-09 22:49] RandomDSdevel commented on #5
I think we just need to get rid of Poppler's old `--with-qt` option, which referenced Qt 4 when the `qt4` formula still had the `qt` alias associated with it, and leave the formula with only a `--with-qt5` option.  IIRC, the two options gave Poppler conflicting `configure` options in the first place, anyway.

[2017-01-09 23:12] bblacey commented on #8
As suspected, we can't re-use bottles if the formula has changed and in fact, for the main qt formula, we should provide proper bottles here that include the QSetting patch.  I will create Yosemite and El Capitan bottles for QT 4.8.7_3 from this repo so it includes the patch and upload them to GitHub so you can copy them to your bintray.

That said, this only affects qt.rb because I know from test

[2017-01-10 00:18] bblacey commented on #8
**Yosemite bottle:**
[code]
**El Capitan bottle:**
[code]
Mavericks is no longer supported by Homebrew so I did not create a Mavericks bottle.  Current macOS (Sierra) and two prior macOS releases is probably sufficient for broader community support.

You can download the QT4 bottles from https://github.com/FreeCAD/homebrew-qt4/releases/tag/bottling and upload to bintray.com.  Once you upload the q

[2017-01-10 00:31] cartr commented on #8
Thanks for taking the time to build the binary bottle for Qt! I've uploaded it to Bintray, along with bottles for `pyside`, `pyside-tools`, and `shiboken` as you requested.

[2017-01-10 00:47] bblacey commented on #8
Thanks!  First test on Yosemite looks good.  Forging forward with the other formulae in the PR.

[code]

[2017-01-10 06:25] #8 closed

[2017-01-10 20:02] bblacey commented on #5
Is there a targeted timeline for to complete the rename PR?  I am asking to make informed decisions when planning FreeCAD QT dependencies.

[2017-01-11 07:31] cartr commented on #5
@bblacey The current plan is to get the patch merged as soon as https://github.com/Homebrew/brew/issues/1770 gets fixed, but I'm unsure how long that'll take.

[2017-01-28 12:26] guitorri opened #12 "qt4: set default to -with-qt3support"
Is it too much trouble to enable qt3support by default in the qt4 formula and bottles?

I know qt3support it was not enabled by default when the formula was in homebrew-core.
It was however shipped in the official Qt binaries, which no longer work with macOS newer than 10.10.
Right now out Travis CI is at osx_image: xcode6.4 and pulling the official Qt .dmg to keep things running.

I guess our pro

[2017-01-29 00:35] jamesalbert opened #13 "is there a way to build pyqt to a pyenv directory"
`brew install pyqt` installs PyQt4 to /usr/local/lib/python2.7/site-packages, is there a way to install it to ~/.pyenv/versions/2.7.11/lib/python2.7/site-packages?

sorry if this is a brew question, I just thought this particular issue would be more relevant here.

[2017-01-29 00:37] #13 closed

[2017-01-29 00:37] jamesalbert commented on #13
[code]

[2017-02-02 07:27] cartr commented on #12
I'd be happy to enable `-with-qt3support` by default, especially if that's how the official binaries shipped. Unfortunately, I don't currently have a way to rebuild bottles, so it may have to wait until that's solved.

Out of curiosity, do you know if it might be possible to create a separate formula for the `Qt3Support` module?

[2017-02-02 07:33] cartr opened #14 "qt: split into multiple formulae"
#12 gave me an idea: what if we split `qt` into multiple formulae? We could have `qtcore`, `qtwebkit`, `qt3support`, and so on. That would likely solve our bottle building issue, since we could make a separate Travis CI job for each formula and avoid the timeout.

Ubuntu appears to do this, with packages like [`libqt4-qt3support`](http://packages.ubuntu.com/precise/libqt4-qt3support) and [`libqtgu

[2017-02-05 19:09] lloydc99 opened #15 "I'm not sure the bottle path is right for pyqt."
executing command [brew install cartr/qt4/pyqt]
==> Installing pyqt from cartr/qt4
==> Downloading https://homebrew.bintray.com/bottles-qt4/pyqt-4.12.sierra.bottle
Error: Failed to download resource "pyqt"
Download failed: https://homebrew.bintray.com/bottles-qt4/pyqt-4.12.sierra.bottle.1.tar.gz
Warning: Bottle installation failed: building from source.
==> Downloading https://sourceforge.net/proj

[2017-02-06 02:52] cartr commented on #15
It looks like I forgot to set the correct bottle path last time I rebuilt the PyQt bottle. Thanks for the bug report!

[2017-02-06 02:52] #15 closed

[2017-02-06 04:09] lloydc99 commented on #15
Thanks for the qt4 repo. I need it for ROS Indigo support!

On Sun, Feb 5, 2017 at 9:52 PM, Carter Sande <notifications@github.com>
wrote:

[2017-02-06 04:11] cartr commented on #15
Glad to hear you're getting some use out of my project! Please feel free to file more issues if you run into any other problems, or there's a package you'd like me to add or something.

[2017-02-06 05:38] cartr commented on #14
I've pushed a development branch ([`separate-qt-modules`](https://github.com/cartr/homebrew-qt4/tree/separate-qt-modules)) that tries to do this by creating separate formulae that each `Dir.chdir` into the module directory and run `make` and `make install`. Currently just for `qt-corelib@4` and `qt-script@4`, and it's based on the way [FreeBSD's ports tree](https://github.com/freebsd/freebsd-ports

[2017-02-06 19:57] guitorri commented on #12
Thank you for your positive response. I really don't know how to split Qt4 in multiple libs.

To solve my problem I made a bottle with --skip-relocate, extracted into `brew --prefix` and linked to have it working.

[2017-03-05 06:04] bblacey opened #16 "Name conflict - resolve by using Homebrew versions"
Carter, FreeCAD is migrating to Qt5 but for licensing reasons we must use Pyside (i.e we can not use PyQt).  Qt.io took over the Pyside project as of version 2 that is required for Qt 5.x and has breathed new life into the project.  I  have created formula for [Shiboken, Pyside and Pyside-tools](https://github.com/FreeCAD/homebrew-freecad) for the qt.io 2.0-dev branch.  Long story short, I run int

[2017-03-05 06:11] cartr commented on #16
I'd be happy to accept a pull request that implements option 1.

With regard to bottling, I'm curious as to how you're making bottles for the older OS versions. Do you just have Macs lying around with the older versions, or is there a virtual-machine program you use?

[2017-03-05 06:19] bblacey commented on #16
Excellent.  I will prepare a PR for option 1.  For versions, do you want fully-qualified versions or what I proposed?  For example shiboken@1.2.2 or shiboken@1.2.  The later will be immune to patch releases and probably sufficient but let me know at your earliest convenience.

With respect to bottling, I use VMWare to build the bottles on various OSes.  I will follow the process we used last time

[2017-03-05 06:24] cartr commented on #16
I think `shiboken@1`, `pyside@1`, `pyside-tools@1` might be simplest, but I'm not super-familiar with PySide's versioning system so I'm willing to go with what you suggested if you think it'd be better.

[2017-03-05 06:28] bblacey commented on #16
Interesting option but a bit non-standard for the Homebrew versioning conventions - I think it would more accurate and closer to the established conventions if we use "@1.2".

[2017-03-05 06:31] cartr commented on #16
Sure, then `@1.2` is fine.

[2017-03-05 06:33] bblacey commented on #16
Thanks. I'm working on it now.

[2017-03-05 07:08] bblacey commented on #16
Carter, it looks like I need to rename coin as well because I have developed a coin 4.0 formula that I also plan to contribute once the upstream team addresses two patches that I submitted.  Do you mind if I rename the coin formula as well?

[2017-03-05 07:08] cartr commented on #16
Sure, no problem. Thanks for putting in all this work to get these renamed!

[2017-03-05 08:29] bblacey commented on #16
PR #17 submitted.  Bottles uploaded to https://bintray.com/bblacey/Cartr/bottles/1.2#files

[2017-03-05 10:02] cartr commented on #14
There's a fatal flaw in this plan, it turns out. Homebrew caches the source code it downloads, but those caches are per-formula; if more than one formula uses the same source tarball, Homebrew downloads it multiple times. The dependency graph for Designer looks like this:

![qt4deps](https://cloud.githubusercontent.com/assets/5241813/23586289/de559844-0146-11e7-91ee-19c900861e78.png)

This means t

[2017-03-05 23:02] bblacey commented on #16
Everything looks good with the name changes applied.  No more name conflicts with aforementioned formulae.  Thanks.

[2017-03-05 23:02] #16 closed

[2017-03-22 01:50] ilovezfs commented on #5
@cartr thanks for your patience. https://github.com/Homebrew/brew/issues/1770 is now fixed.

[2017-04-06 08:11] cartr opened #20 "Build bottles for remaining renamed formulae"
"Essential" formulae: (high usage, long build times)
- [x] qt-webkit@2.3
- [x] shiboken@1.2
- [x] pyside@1.2
- [x] pyside-tools@1.2
- [ ] pyqt@4

Once these are done, I'll build bottles for the remaining formulae to ensure their build times are fast too.

[2017-04-06 08:13] cartr opened #21 "pyqt@4 - WebKit is broken"
At present, `pyqt@4`'s configure script fails to detect WebKit even when it's installed. This is strange, as both `qmake` and `cmake` can find it just fine.

[2017-04-06 08:18] #5 closed

[2017-04-06 08:18] #12 closed

[2017-04-06 08:18] #14 closed

[2017-04-06 16:54] cartr commented on #12
The latest revision of the formula now has Qt3Support enabled out of the box. Running `brew install qt@4` in your `.travis.yml` should install it for you.

Please let me know if it still isn't working, and feel free to file more issues if there's other functionality you'd like to see.

[2017-04-06 18:50] bblacey commented on #20
The lack of bottles, particularly the qt-webkit formula, are causing FreeCAD jobs on [Travis to fail](https://travis-ci.org/FreeCAD/FreeCAD/jobs/219367138#L486) due to excessive logging and/or build times.   What is the timeframe for preparing and deploying these bottles?

[2017-04-06 18:58] cartr commented on #20
@bblacey Bottles for qt-webkit and PySide were been deployed earlier today, and should work with both the default Travis image and the one for macOS Sierra. I'll take a look at your build log to try and see what's happening.

[2017-04-06 19:15] cartr commented on #20
@bblacey Ah, I see the issue: your builds are using the `xcode6.4` image on Yosemite, and my `qt-webkit@2.3` bottle build for Yosemite timed out. I've retried that build.

In the meantime, would it be possible to use a newer image? [Travis' docs page](https://docs.travis-ci.com/user/osx-ci-environment/#Xcode-6.4) says `xcode6.4` is deprecated and "will be retired" a few months ago. `xcode7.3` is T

[2017-04-06 19:19] bblacey commented on #20
@cartr - thanks for the quick response.  Actually, we can't use a newer Xcode. We build on macOS 10.10 because we package and deploy our builds from Travis and need to support the earliest possible OS available.  Hombrew also supports 10.10+.

[2017-04-06 19:20] cartr opened #22 "frescobaldi build fails due to poppler-qt4 no longer existing"
I suspect the solution is to package our own `poppler` with the Qt 4 backend -- not sure how doable this is (has Poppler retired their Qt 4 support?)

[2017-04-06 19:29] cartr commented on #20
@bblacey I see. I've started a [new build](https://travis-ci.org/cartr/qt4-autobottler/jobs/219409309) of `qt-webkit@2.3` for Yosemite, which is currently in the queue, and will update you when it finishes.

Apologies for breaking FreeCAD's builds – unfortunately, I didn't have as much time as I'd hoped to get the bottle builds finished before merging the name change.

[2017-04-06 19:32] cartr opened #23 "cuty_capt build fails with QNetworkProxy-related error message"
[code]

[2017-04-06 19:37] cartr opened #24 "libechonest build is broken due to qjson using Qt5 now"
Similar build failure to `frescobaldi`, except it's `qjson` instead of `poppler` causing the issue.

[This PR from Core](https://github.com/Homebrew/homebrew-core/pull/7017/commits/10335d9b6da5535fa5e2748f1ac93ccdff17ffeb) might be helpful if we decide to restore an old `qjson` to fix this.

[2017-04-06 20:02] bblacey commented on #20
@cartr - no worries...  I really appreciate your keeping Qt4 alive for the community and we will get through this speed bump.  That said, if your bottle builds are timing out, perhaps you can use environment variables to build one bottle per build matrix entry (i.e. one job per os per formula).  I think you would do it with something like this:

[code]

That should create the following jobs:

pysi

[2017-04-06 20:56] cartr commented on #20
@bblacey Thanks for the suggestion! I'll see about trying that out to build the non-essential formulae more easily – sounds like it would be really helpful.

In any case, `qt-webkit@2.3` has now been built successfully on Yosemite, and a build of PySide has been queued. Once that's done, FreeCAD jobs should see the bottles and stop timing out.

[2017-04-06 21:01] bblacey commented on #20
Thanks!  It will be good to get our CI builds back online once pyside is bottled.

[2017-04-06 21:57] cartr commented on #20
@bblacey PySide builds are done, so your CI builds should be back online. Please let me know if you run into any more issues with the tap.

[2017-04-06 21:59] bblacey commented on #20
Yes, things are looking good! https://travis-ci.org/FreeCAD/FreeCAD/jobs/219449937#L345

Thanks!

[2017-04-07 03:12] bblacey opened #25 "qmake -query returns incorrect path"
This discrepancy causes cmake generation to fail because certain Qt cmake variables are not correctly defined by find_program(qt4).  Note `QT_INSTALL_PLUGINS` and `QT_INSTALL_IMPORTS` point to nonexistent `qt4` directories but should be correct for a keg-only install.

[code]

I haven't identified a root cause yet but reporting in case it is obvious to someone more familiar with these Qt4 formulae

[2017-04-07 03:20] cartr commented on #25
I patch configure to point most of the paths to `/usr/local/`, which should have all the Qt 4 files symlinked into them. This is necessary to allow qmake and cmake to find WebKit, since WebKit isn't installed in the same Cellar folder as Qt any more.

Is the only issue that `_PLUGINS`, `_IMPORTS`, `_DATA`, and `_TRANSLATIONS` should be changed?

[2017-04-07 03:29] cartr commented on #25
Also, do you have a public project/CMakeLists.txt file I could use to reproduce the issue? [The file I was using to test stuff](https://gist.github.com/cartr/1ad0c7473cc37d1e98579eef25e0111f) `cmake`s and builds fine on my machine.

[2017-04-07 03:31] bblacey commented on #25
The problem seems to be with hardwired paths in the [Qt4 formula](https://github.com/cartr/homebrew-qt4/blob/master/qt%404.rb#L110-L111).

[2017-04-07 03:34] cartr commented on #25
@bblacey Sorry, I'm not clear on which of the paths are currently wrong. All of them? Just the `/usr/local/Cellar/` paths? Or all the paths except for the `/usr/local/Cellar/` paths?

[2017-04-07 03:38] bblacey commented on #25
Right now, the configure patching sets some of the paths to non-existant paths.  At a minimum, they should point to valid paths that exist but ideally paths that work for keg-only installs.  The two obvious paths are:
[code]
Plugins should be `/usr/local/Cellar/qt@4/4.8.7/plugins` or `/usr/local/opt/qt@4/plugins` and imports should be `/usr/local/Cellar/qt@4/4.8.7/imports` or `/usr/local/opt/qt@4/

[2017-04-07 03:39] bblacey commented on #25
@cartr - what happens if you don't patch those two paths?  Will configure set them properly?

[2017-04-07 03:46] bblacey commented on #25
@cartr - I also noticed that configure allows you to specify these paths as arguments to configure that seems a bit cleaner than using `inreplace`.  You can see these options using `./configure --help`.

[code]

[2017-04-07 03:50] cartr commented on #25
@bblacey If we don't patch these paths, the `./configure` script will set them to `/usr/local/Cellar/qt@4/4.8.7/[plugins, imports, bin, etc.]`. For most of the paths, this is incorrect and we need to change them to `/usr/local/[bin, lib, etc.]` -- otherwise, build scripts won't find WebKit. But I think you're right that the Plugins and Imports paths are set incorrectly. In your opinion, would it b

[2017-04-07 03:54] bblacey commented on #25
@cartr - either will work but given that the other paths point to the formula's `prefix` (i.e. `/usr/local/Cellar/qt@4/4.8.7`), I would probably use the same prefix for the plugins and translations.

[2017-04-07 03:57] bblacey commented on #25
I "think" that if just remove the `inreplace` for those two paths, I think they might be set to the cellar prefix.

[2017-04-07 04:00] cartr commented on #25
@bblacey I just submitted a Pull Request that fixes this by going the other way: rather than removing the `inreplace` commands to change the path reported by `qmake`, it updates the configure arguments to install the plugins and imports in the places `qmake` currently reports.

I think this solution will be a bit better because it ensures that build scripts receive the same paths even when `qt@4`'

[2017-04-07 07:51] #25 closed

[2017-04-10 16:06] pstavirs opened #27 "Ostinato build on TravisCI failing"
This was working a month ago.

Logs: https://travis-ci.org/pstavirs/ostinato/jobs/220604198

[2017-04-10 16:13] cartr commented on #27
At the request of Homebrew maintainers, I changed the name of the Qt package from `qt` to `qt@4`. (The Homebrew people wanted to "reclaim" `qt` and use it for their Qt5 package.) I've filed [a Pull Request](https://github.com/pstavirs/ostinato/pull/214) on your repository that updates your .travis.yml to reflect this change.

Apologies for breaking your build.

[2017-04-10 16:13] #27 closed

[2017-06-12 21:36] sandvige opened #29 "Illegal Instruction: 4"
Hello,

Would it be possible to provide bottles compiled with more backward compatibles options to avoid the "Illegal Instruction: 4" on old CPUs? It looks like you're building everything on recent machines

Some people says it would be better to compile with LLVM/GCC instead of CLANG to avoid such a problem, what do you think?

Maybe there's an `-mmarch=core2`? It probably makes no sense to use r

[2017-06-12 21:37] #20 closed

[2017-06-12 21:43] cartr commented on #29
Sorry to hear the bottles aren't working on your system. Could you please run `brew config` and copy-paste the output into a Gist, so I can see the details of the system you're running on?

AFAIK I'm using the same process as the Homebrew Core people to build my bottles. Do you see similar errors when you try to use Qt 5?

[2017-06-13 12:48] sandvige commented on #29
Hello, we're distributing the libs through a bundle we're building using macdeployqt. The machine I'm using to build is pretty recent (core i7), and everything is working well, but on our customer machine, this is not the same story. Unfortunately, they don't have homebrew installed, so I cannot give you a brew config sample. Here are the machines we've tested and isolated the issue (with the CPU

[2017-06-15 09:28] sandvige commented on #29
I've been able to tweak a Travis CI script to bundle my apps with the pre-compiled bottle, and it is working on some of the previously failing Mac. It looks like your bottles are OK, so I now need to understand what flag to pass to the compiler of my application to use an "enough old" instruction set...

[2017-06-21 17:28] #29 closed

[2017-07-31 18:33] faizalsheriff opened #30 "QtWebkit"
QtCreator fails to parse QtWebKit\plugins.qmltypes. I don't need webkit, is there a way to work around it

[2017-08-01 16:19] cartr commented on #30
QtWebKit is a separate formula, so you could try uninstalling `qt-webkit@2.3`. Or, if you don't have it installed, try installing it -- maybe QtCreator has a dependency on it or something.

[2017-08-05 15:40] crintus opened #33 "Error when trying to install pyqt4 with brew"
Below is the output when I try to run `brew install pyqt@4 --with-python3` on OSX Sierra 10.12.6

[code]

[2017-08-06 02:46] cartr commented on #33
Hi there! Sorry to hear the `pyqt@4` formula didn't work correctly on your machine.

Could you please run the `brew config` and `brew doctor` commands and paste the output into a Gist so I can take a look at them?

[2017-08-08 13:42] crintus commented on #33
Here you go https://gist.github.com/crintus/90cadff89ac7cc6df06ec448d2297c70

[2017-08-09 05:35] cartr commented on #33
@crintus It appears the root cause of this issue is that `sip` didn't get linked properly because an existing installation was in the way. It's possible this has something to do with the fact that you have Anaconda installed, or maybe it somehow got installed through `pip` or something.

If you run `brew link --overwrite --dry-run sip`, back up the listed files, then run `brew link --overwrite sip

[2017-08-09 13:33] crintus commented on #33
Yeah, next issues is the following
[code]

[2017-08-18 16:33] davebest commented on #33
On Yosemite I got past that part with --overwrite, but fail on mutagen because the project has moved from bitbucket to github.

[2017-08-18 20:18] crintus commented on #33
It's worth a shot I guess. I no longer need this issue to be resolved. @cartr you can close this if you are happy to not resolve it

[2017-08-18 21:17] cartr commented on #33
I was unable to reproduce this issue on a fresh install of Sierra, and so I suspect it has something to do with Anaconda being installed on your system, which is not something Homebrew supports very well.

For other people having this issue, you might want to try running `conda install pyqt=4` to install PyQt4 through Anaconda instead of Homebrew.

[2017-08-18 21:17] #33 closed

[2017-08-19 10:20] crintus commented on #33
wow, `conda install pyqt=4` actually did the trick. All that effort for a simple fix. Thanks so much @cartr for the help

[2017-08-31 11:54] devernay opened #34 "fix Qt4 leopard and tiger builds"
Hi,

would you consider adding that patch (taken from tigerbrew) to allow building Qt4 on Leopard?
https://github.com/mistydemeo/tigerbrew/commit/fbda1798e96437da9268dcc9e5568aa45d60e474

also seen in https://trac.macports.org/ticket/43746

thanks again for maintaining this repo

[2017-09-04 06:51] cartr commented on #34
Thanks for bringing this patch to my attention! I've made a [pull request](https://github.com/cartr/homebrew-qt4/pull/35) to add it to the formula. Could you please verify that it actually fixes the Leopard build?

[2017-09-04 12:22] devernay commented on #34
I checked building on 10.12 from source with `g++-4.2 -mmacosx-version-min=10.5 -isysroot /Developer/SDKs/MacOSX10.5.sdk` with that patch, and I get a running Qt Designer.

I have no running 10.5 machine to test building on it, though.

I also submitted a set of patches to compile on Tiger (yes, I have a running Tiger machine - Leopard was just the first step to get there), and it runs fine!

Grab

[2017-09-04 23:17] cartr commented on #34
@devernay I've added these patches to my pull request. Thanks!

[2017-09-27 22:24] scpeters opened #36 "Bottles for high_sierra"
I imagine you will create high_sierra bottles for `qt@4` and other formulae at some point. Let me know if you need any help with this.

[2017-09-28 00:52] cartr commented on #36
Thanks for the offer! I'll likely have bottles for `qt@4`, `qt-webkit@4`, PySide, and PyQt on High Sierra ready this weekend.

Just so people know, the Qt 4 package should still work on High Sierra without the bottles – it'll just take longer to install because it needs to compile everything from scratch. If you're running into problems using Qt 4 on High Sierra, please [file an issue](https://git

[2017-10-03 01:45] #30 closed

[2017-10-03 01:48] cartr commented on #21
Seems to be fixed with the changes made to how we build QtWebKit.

[2017-10-03 01:48] #21 closed

[2017-10-03 08:34] #36 closed

[2017-10-16 08:41] samueljackson92 opened #38 "macdeployqt tool cannot find the qt plugins folder"
This looks like it might be related to the changes in #25. When we try to run the `macdeployqt` tool to bundle our app it fails because it seems to assume that the qt plugins directory exists at `/usr/local/opt/qt@4/plugins` but it looks like the install path is set to `/usr/local/opt/qt@4/lib/qt4/plugins`.

Adding a symlink to the plugins directory in where the `macdeployqt` tool expects "fixed"

[2017-10-17 02:00] cartr commented on #38
Thanks for the report! The issue does indeed appear to be that the `macdeployqt` tool hard-codes the plugins directory as `qtPath + "/plugins"`. I'll try and write a patch to fix that.

[2017-11-07 14:56] cecilyen opened #40 "FYI: pyqt 4.12.1 Released"
pyqt has been updated to 4.12.1 on 6/30/2017

[2017-11-14 23:43] #38 closed

[2017-11-15 04:27] cartr commented on #40
Thanks for the heads-up! I've updated the formula.

[2017-11-15 04:27] #40 closed

[2017-11-25 17:01] YKdvd opened #42 "Phonon support >= MacOS 10.12 Sierra"
Since support for including the Qt4 Phonon classes has been turned off when compiling on Xcode >= 8, perhaps the README.md could mention this?

As I understand it, Phonon is unsupported only because the required QTKit.framework is not available in the base SDK that comes with Xcode 8 and higher?  MacOS Sierra itself **DOES** still have that framework (in , and would run any resulting Phonon stuff

[2017-11-26 05:52] cartr commented on #42
You're correct that the reason we disable Phonon is because QTKit was removed from the SDK shipped with Xcode 8. I'm not really sure how well your idea to fix that would work; I've never tried to make Homebrew compile using an older version of the SDK.

You might also consider installing Phonon [separately from source](https://download.kde.org/stable/phonon/).

Please let me know if you get it wor

[2017-11-26 17:28] YKdvd commented on #42
I forked this tap, uncommented the "-no-phonon" line, installed the 10.11SDK and then tried this:
[code]
This eventually threw an error (presumably the expected one because phonon wouldn't compile, although that wasn't obvious).  From the debug console, I saw that while my made-up SDKDUMMY environment variable had survived, SDKROOT was not present.  I'm assuming that the make system is setting it

[2018-01-19 18:21] cecilyen opened #43 "Calling 'depends_on :python3' is deprecated!"
Found the following error message while updating brew today. I just did an upgrade of brew yesterday.

[code]

[2018-01-23 03:32] damitr commented on #43
Same error for me also
[code]

[2018-01-23 12:18] AleScg opened #44 "PyQt4 --with-python 3"
I am trying to build pyqt4 with python3 support, however I get the following error:

[code]

Is there a way to disable phonon when building pyqt@4?

Thanks

[2018-02-02 15:48] #43 closed

[2018-02-02 16:06] cartr commented on #44
Sorry to hear that `pyqt@4` isn't building correctly on your system.

In theory, PyQt should detect that Phonon is unavailable and disable it automatically. That's what it does on my system, and I'm not able to reproduce the error you reported.

Could you please run `brew config` and `brew doctor`, paste the output into a Gist, and put the link to the Gist in a comment on this issue?

[2018-03-04 08:05] megachweng opened #46 "Homebrew core renamed `python3` -> `python` and `python` -> `python@2`"
`brew install python` will install python3 as default now.
`brew install pyqt@4 --with-python3` only build python3 library
so I can't import PyQt4 in python2, there is only `Python3.6/site-packages` in `'/usr/local/Cellar/pyqt@4/4.12.1/lib/` directory

please fix it.

[2018-03-04 08:10] cartr commented on #46
Thank you for the report! I'll try and get this fixed ASAP.

[2018-03-04 09:46] #46 closed

[2018-03-04 09:47] cartr commented on #46
Should be fixed now -- please run `brew update && brew upgrade` and try reinstalling `pyqt@4`.

[2018-03-04 14:35] megachweng commented on #46
works like a charm!!
PS: I've noticed that option `--with-python3` have changed to `--with-python`. I think the first one is less confused.

[2018-03-04 20:28] albertosottile opened #48 "Yosemite bottles"
I am getting this error when I try to install PySide 1.2 on Yosemite (Travis CI xcode6.4):
[code]

Is this a temporary issue with bintray/akamai or are you removing bottles for Yosemite?
Thanks

[2018-03-04 21:05] cartr commented on #48
Bottles are currently broken for all platforms, not just Yosemite. (I pushed out [an urgent fix](https://github.com/cartr/homebrew-qt4/pull/47) last night and haven't had time to rebuild the bottles yet.) When I do build the bottles, I'll make sure and build them for Yosemite.

Apologies for the inconvenience.

[2018-03-04 21:14] albertosottile commented on #48
I apologize, I did not know that the renaming to python@2 in the recipes required a complete rebuild of the bottles. in fact, we [successfully packed](https://travis-ci.org/Syncplay/syncplay/builds/348652214) our software yesterday using the new homebrew recipe and the old bottles (before your fix). I will wait for updated bottles then. Thanks for all this work.

[2018-03-06 10:04] cartr commented on #44
Closing, as I haven't heard back from you. If you're still experiencing this problem, please let me know and I'll reopen it.

[2018-03-06 10:04] #44 closed

[2018-03-06 10:04] #48 closed

[2018-04-22 13:41] devernay opened #50 "shiboken and pyside: upgrade to 1.2.4"
Hi,
pyside and shiboken could be upgraded to 1.2.4 (adds a few fixes).

Here are the URLs for shiboken:
[code]
and pyside:
[code]

[2018-04-23 01:02] cartr commented on #50
Thanks for letting me know! I've opened a pull request with this change, which I'll merge once I get the bottles built.

[2018-05-07 14:06] shafdog opened #52 "Add GNURadio to this tap?"
The GNURadio package/recipe in the core Brew doesn't include QT support. GNURadio has a GUI builder tool that let you build controls to use a software defined radio (SDR) called `gnuradio-companion`. But the recipe in the mainline brew doesn't build with QT, likely since as best I can tell GNURadio doesn't work with Qt5. Without QT, many examples don't work and the WX widgets are more limited than

[2018-05-30 23:41] jdknox opened #53 "qt@4 build fails on High Sierra"
OS: 10.13.4
Clang: Apple LLVM version 9.1.0 (clang-902.0.39.2)

I get the following error when trying to `brew install cartr/qt4/qt@4`:

`text/qfontengine_coretext.mm:889:20: error: qualified reference to 'QFixed' is a constructor name rather than a type in this context
    return QFixed::QFixed(int(CTFontGetUnitsPerEm(ctfont)));
                   ^
`
QT has some info [here](https://wiki.qt.io/Qt

[2018-05-31 01:46] cartr commented on #52
I'd be happy to include this formula in my tap. Could you please submit a pull request with it?

[2018-06-05 07:55] samueljackson92 opened #55 "Q_OBJECT macro gives many inconsistent-override-warnings"
When compiling with clang the `Q_OBJECT` macro emits an `inconsistent-override-warning`. In a large project with many `Q_OBJECT`s this leads to a huge number of warnings which are unrelated to the project itself.

Below is a patch which should fix the issue. I've based the changes on a stripped down version of how this is [solved in Qt5](https://code.qt.io/cgit/qt/qtbase.git/tree/src/corelib/kerne

[2018-06-10 03:54] #53 closed

[2018-06-10 05:58] #55 closed

[2018-06-10 07:44] cartr commented on #34
I've given it some thought, and I don't think I'll be able to support Tiger or Leopard in this tap after all.

As discussed in @35, my `qt-webkit@2.3` formula would probably be nearly impossible to port to Tiger. I have no way to test Tiger or Leopard locally, so even if I could port it, I wouldn't be able to ensure future changes didn't break it. There's also no guarantee that mainline `brew` (or

[2018-06-10 07:44] #34 closed

[2018-06-17 11:51] swordencao opened #57 ""unrecognized #pragma" with Q_OBJECT on ICC"
After 4.8.7_4 was updated, `Q_OBJECT`s weren't been recognized and lots of errors were thrown by compiler like this.

[code]

I use *macOS High Sierra Version 10.13.5* and *ICC 18.0.2 20180210*.

[2018-06-17 16:54] cartr commented on #57
Thanks for the report!

It seems kind of strange that you're getting this error, since [the patch we added in 4.8.7_4](https://github.com/cartr/homebrew-qt4/blob/4683896e3c3123346fc0a5a7f4a9e73d7a96d6a9/patches/qobject-spurious-warnings.patch) explicitly checks for ICC and disables the new `#pragma`s. Are you compiling your code with the `-no-icc` option?

[2018-06-17 19:08] swordencao commented on #57
Issue fixed by #58

[2018-06-17 20:37] #57 closed

[2018-06-28 07:51] keeeto opened #59 "Location of qt4 source code has changed"
The qt4 source code has moved from
`https://download.qt.io/official_releases/qt/4.8/4.8.7/`
it is now at
`https://download.qt.io/archive/qt/4.8/4.8.7/`
I guess that this just needs updating in the `qt@4.rb` file for everything to work as expected.
Thanks!

[2018-07-03 02:41] #59 closed

[2018-07-20 10:43] albertosottile commented on #22
Are you still interested in a PR for this? I just tested it locally, everything works besides homebrew/lilypond that has been deprecated and moved to a cask (the user can still install it manually if needed).

[2018-07-21 21:04] cartr commented on #22
I'd definitely still be interested in a PR for this if you've gotten it
working.

On Fri, Jul 20, 2018, 6:43 AM Alberto Sottile <notifications@github.com>
wrote:

[2018-07-21 21:08] albertosottile commented on #22
That's great, I have a question though: at this moment I had to create poppler formula using the same name as in homebrew-core because the poppler path is hardcoded somewhere in the frescobaldi building code. If that is ok for you, I can quickly prepare the PR. Otherwise, I'll change the name to something like poppler-qt4 and try to fix it in the frescobaldi formula or with a patch.

[2018-07-21 21:10] cartr commented on #22
It'd probably be better to use a new name, like poppler-qt4, so people
could install it and homebrew-core's Poppler side-by-side if they wanted to.

On Sat, Jul 21, 2018, 5:08 PM Alberto Sottile <notifications@github.com>
wrote:

[2018-07-21 21:10] albertosottile commented on #22
Ok, working on it.
**EDIT**: Nevermind, it works. Opening the PR now.

[2018-07-22 00:10] cartr commented on #22
Fixed by #61.

[2018-07-22 00:10] #22 closed

[2018-09-22 02:40] YKdvd commented on #42
I may try to another crack at this - I can't seem to find any other reliable way to get PyQt4 for Python 2.7 on current MacOS?.  I've posted a request in the homebrew discussion forum asking for any build gurus to weigh in on compiling with an older SDK.  https://discourse.brew.sh/t/compiling-with-older-macos-sdk/3034

Assuming I can get qt@4 to compile, would I have to change things like "depends

[2018-09-22 06:55] cartr commented on #42
Yes, you'll want to change "cartr/qt/qt@4" dependencies to point to your
fork. (Although depending on how complicated your solution ends up being,
I'd be open to merging it in so you wouldn't have to maintain a fork.)

On Fri, Sep 21, 2018, 7:40 PM YKdvd <notifications@github.com> wrote:

[2018-09-27 09:32] pjessesco opened #62 "Qt@4 doesn't build on macOS 10.14"
Is it WIP, or no plans to support it?

[2018-09-27 09:48] cartr commented on #62
Could you please run `brew config`, `brew doctor`, and `brew install -v cartr/qt4/qt@4` and paste the output into a Gist so I can take a look at it?

[2018-09-27 10:16] pjessesco commented on #62
Here it is : https://gist.github.com/pjessesco/6b03049bc11e5e64b6ceb51b0c6c3f2f

[2018-10-29 21:50] Mashpy commented on #23
same problem :(

[2018-12-22 19:42] asadaku opened #64 "lQTGui"
I'm trying to use this to install open rave, which complains at 99% that it can't find lQtGui.a.

I browsed the install directory of qt@4 under libs and there isn't any qtgui stuff. Is there some way to install that too?

[2018-12-22 19:53] cartr commented on #64
Sorry to hear you're running into issues with the formula! QtGui should be
included in the qt@4 formula, although I believe we install it as a
framework rather than a static library. Would you mind copy-pasting the
output of "brew doctor", "brew config", and the failing compile command
into a Gist so I can take a look?

On Sat, Dec 22, 2018, 11:42 AM asadaku <notifications@github.com wrote:

[2018-12-23 00:19] asadaku commented on #64
Here is the gist. I admit I have been trying like crazy to get this to work so I have installed qt5, qt4 and whatever multiple times in a vain attempt to solve this. I'm so close!!

https://gist.github.com/asadaku/f95f69235ea16c6d82e6922b8230b2e6

[2018-12-23 00:26] cartr commented on #64
Hmm. Could you add the output of soqt-config and coin-config?

Carter

On Sat, Dec 22, 2018, 4:19 PM asadaku <notifications@github.com wrote:

[2018-12-23 00:30] asadaku commented on #64
The output of soqt-config and coin-config is empty but if I do

soqt-config  --libs
`-lSoQt -F/usr/local/Cellar/qt@4/4.8.7_5/lib -framework QtOpenGL QtGui QtCore -lCoin -lpthread -lQtGui.o -lQtOpenGL.o`

coin-config  --libs
`-lCoin -lpthread`

I did compile these two using your qt formula

[2018-12-23 00:32] cartr commented on #64
Yeah, that "-lQtGui.o" probably shouldn't be there. I'll look into this
further.

On Sat, Dec 22, 2018, 4:30 PM asadaku <notifications@github.com wrote:

[2018-12-23 00:37] asadaku commented on #64
I should mention how I installed soqt.

[code]

Maybe I am not using a flag that I should be using when building soqt?

[2019-02-11 21:24] LoganTutt opened #65 "MacOS.prefer_64_bit? has been deprecated in Homebrew so the formula now fails to install"
The following line causes a `MethodDeprecationError` when `brew upgrade` is run due to the deprecation of the method in Homebrew core.
https://github.com/cartr/homebrew-qt4/blob/af62582a6970391c6d8f6009c3dc16bcc3caa5b1/qt%404.rb#L129

The relevant Pull Request in Homebrew can be seen here: https://github.com/Homebrew/brew/pull/5519

[2019-02-21 02:08] #65 closed

[2019-02-21 02:09] cartr commented on #65
Thanks for the report! I've removed this call from the formula source code.

[2019-05-20 16:16] cjdupreez commented on #23
Same here...

[2019-05-29 05:23] ryanbarry opened #66 "can't build pyside@1.2 with docs on mojave"
installing pyside@1.2 using `--with-python` and no other flags results in the following failure on my machine running 10.14.4:
[code]

i tried getting the contents of those Error/Output log files but they appeared not to exist when i tried to open the paths given.

let me know if i can provide any other helpful info!

[2019-05-29 05:29] ryanbarry commented on #66
oh, and i meant to mention, if i add the flag `--without-docs` it builds fine

[2019-05-31 08:07] cartr commented on #66
Sorry to hear that PySide isn't building correctly. Could you paste the
full contents of the log files from that error message, as well as the
output from "brew config" and "brew doctor", into a Gist so I can take a
look?

On Tue, May 28, 2019, 10:29 PM Ryan Barry <notifications@github.com> wrote:

[2019-06-01 08:29] tomoyanonymous commented on #66
Hi. came from a refered thread.
This is a log when I tried with --verbose.
This seems there's no `/usr/local/opt/qt@4/src` folder in installed qt4.

[code]

[2019-12-01 09:08] scpeters opened #67 "qt@4 bottle broken since openssl 1.0 was removed from homebrew-core"
The `qt@4` formula [depends on openssl 1.0](https://github.com/cartr/homebrew-qt4/blob/master/qt%404.rb#L50), but that has been removed from homebrew-core as of https://github.com/Homebrew/homebrew-core/pull/46876, so the `qt@4` bottles are currently broken for anything that uses the QtNetwork component. The openssl 1.0 bottle was removed as it will be end-of-life very soon.

[2019-12-02 04:53] cartr commented on #67
Thanks for reporting this! I'll look into re-adding openssl 1.0 to this tap.

[2019-12-10 16:53] devernay commented on #67
Thanks for looking into that!
The removal PR is here: https://github.com/Homebrew/homebrew-core/pull/46876
But I would actually recommend compiling against openssl 1.1, using this patch (originated from debian, then MacPorts, and finally modified by me):
https://github.com/NatronGitHub/Natron/blob/RB-2.3/tools/MacPorts/aqua/qt4-mac/files/patch-qt4-openssl111.diff

Thanks a lot for keeping this tap

[2020-01-03 21:19] sandvige commented on #67
Anything new? How can we help?

[2020-01-05 03:50] cartr commented on #67
@sandvige I've created a branch (https://github.com/cartr/homebrew-qt4/tree/readd-openssl-1.0) that adds OpenSSL 1.0 to the tap. I'd appreciate it if you could test that branch out and tell me if it works on your system. (I wasn't able to get @devernay's patches to build in the version of Qt used in this formula.)

The main blocker right now is getting bottles built -- I haven't had a lot of time

[2020-01-05 03:57] cartr commented on #67
And more generally, I don't use a Mac as my primary computer anymore (because I got tired of software updates breaking stuff all the time), so it's kind of a hassle for me to create and test updates to this tap. I'd really appreciate it if people filed pull requests to fix issues they found.

[2020-01-09 18:27] sandvige commented on #67
@cartr, thanks for your answer!

I will try my best to help you. So far, I'm not an Homebrew expert, and I tried something that might be "dumb" to test (because I don't have a mac neither). We're using your tap with a Travis job, here is the previous code I was using to pour your tap:
[code]

I forked your repository, and since it looks like it's not supported to pour bottles from github through b

[2020-01-09 20:58] sandvige commented on #67
@cartr it looks like this is working! https://travis-ci.com/sandvige/homebrew-qt4/builds/143793188

[2020-01-10 06:36] #67 closed

[2020-01-10 06:37] cartr commented on #67
@sandvige Thanks for your help! I've gone ahead and merged the OpenSSL branch into master and built some new bottles.

[2020-01-10 06:38] hnsxcxwpf2 opened #69 "brew tap-pin cartr/qt4 failed"
skfly@skflydeMacBook-Pro ~ % brew tap-pin cartr/qt4
Error: Calling brew tap-pin user/tap is disabled! Use fully-scoped user/tap/formula naming instead.

[2020-01-10 06:40] cartr commented on #69
Thanks for reporting this! Can you try running `brew install cartr/qt4/qt@4` instead? (If that works, I'll update the README.)

[2020-01-10 06:43] skfly007 commented on #69
I just run `brew install qt@4` and it works?
what's the reason of this situation?

skfly@skflydeMacBook-Pro ~ % brew tap-pin cartr/qt4
Error: Calling brew tap-pin user/tap is disabled! Use fully-scoped user/tap/formula naming instead.
skfly@skflydeMacBook-Pro ~ % brew install qt@4
==> Installing qt@4 from cartr/qt4
==> Installing dependencies for cartr/qt4/qt@4: openssl@1.0
==> Installing cartr/qt

[2020-01-10 06:44] skfly007 commented on #69
I from china and using a mirror for home-brew.

[code]

[2020-01-10 06:46] cartr commented on #69
@hnsxcxwpf2 Ah, it looks like when you run `brew install qt@4`, Homebrew automatically searches through all your taps for a formula called `qt@4`. (I don't think they did that when I first created this project, but I could be mistaken.) So you don't need to run `brew tap-pin` anymore. I'll fix the README!

[2020-01-10 06:46] #69 closed

[2020-02-29 22:08] qq42 commented on #67
Running `brew upgrade` says:

[code]

However running the suggested `brew uninstall openssl@1.0` says:

[code]

How do I get out of this catch-22?

[2020-03-01 18:36] cartr commented on #67
@qq42 That is a good question, and I don't have an answer off the top of my head -- sorry! (It may be worth filing a bug against Homebrew/brew, or posting on their forum, or something. This seems like a bug in `brew`.)

I did find https://github.com/Homebrew/brew/issues/3024 , which suggests using `brew uninstall --force openssl@1.0`.

[2020-03-03 10:58] qq42 commented on #67
`brew uninstall --force openssl@1.0` ran but did not display any output, but then `brew upgrade` still says:

[code]

Thank you for the pointer! It gave me a few more ideas to try. I ran `brew info openssl@1.0` which led to running `brew install openssl@1.0` which then allowed `brew upgrade` to successfully run!

[code]

[2020-03-12 10:35] adamjakab commented on #67
At the time of writing the above steps by @qq42 are still necessary on my macOS 10.13.6 to install qt4. In short:
[code]

[2021-01-11 06:56] PeterSurda opened #70 "Can't build pyqt@4 (ElCapitan)"
[code]

I'd appreciate even a workaround.

[2021-01-12 05:48] cartr commented on #70
Hey, really sorry that the formula isn't working. I unfortunately don't have an El Capitan system (or any Mac, really) handy to debug issues at the moment. It's entirely possible that Homebrew's changed something on their side that broke this formula, or broke stuff in general on El Capitan.

Could you please post the output of `brew config`, `brew doctor`, and `brew install --verbose pyqt@4 --wit

[2021-01-12 05:50] cartr commented on #70
One idea for a possible workaround -- which might be kind of tricky and a bad idea -- would be to manually roll back Homebrew, homebrew-core, and this tap back to a version from ~Feb 2019 using Git commands.

[2021-01-12 07:52] PeterSurda commented on #70
@cartr I suspect it's due to outdated CA for curl in my installation. I'll retry with an updated one.

[2021-01-12 12:32] PeterSurda commented on #70
sorry, even after updating the CA still not working. I'll try to provide more logs.

[2021-01-12 15:33] PeterSurda commented on #70
I tried to debug. The result is the same on Big Sur.

I don't have experience with ruby but the loop starting at https://github.com/cartr/homebrew-qt4/blob/1794070295f5fdadf59a5c6308eb3ed8fc57d6ff/pyqt%404.rb#L30 seems not to execute at all. The whole build process is completely skipped, and right after unpacking it jumps to trying check if it installed anything. It sees the target directory is em

[2021-02-11 03:24] devernay opened #71 "bintray is going away. Distribute bottles through github or another service?"
I just saw that bintray will soon go away, will there be another way to distribute bottles? Maybe use github binary release assets?
Also, can we contribute
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-11 03:29] devernay opened #72 "qt 4.8.7 download site"
it seems like Qt 4.8.7 has disappeared from the Qt archives, and the mirror in the recipe isn't working either.
I did a `brew edit cartr/qt4/qt@4` and replaced the mirror with https://ftp.osuosl.org/pub/blfs/conglomeration/qt4

[2021-02-11 07:00] cartr commented on #71
Thanks for letting me know about this!

To be honest, I'm not sure I want to continue maintaining this tap. Working with Homebrew is kind of obnoxious, and I no longer have access to all the test hardware and OS installs I used to use. Plus, the _Hello World!_ software package -- the original reason I started this tap -- is now using a non-Homebrew copy of Qt 5.

Would you be up for taking over ma

[2021-04-14 08:04] eva-barczykowska opened #74 "warning when installing ncurses on mac 11.2.3"
ewabarczykowska@mac ~ % brew install ncurses
Warning: ncurses 6.2 is already installed and up-to-date.
To reinstall 6.2, run:
  brew reinstall ncurses
ewabarczykowska@mac ~ % brew reinstall ncurses
==> Downloading https://ghcr.io/v2/homebrew/core/ncurses/manifests/6.2
Already downloaded: /Users/ewabarczykowska/Library/Caches/Homebrew/downloads/b365b9504480dc3ed1cc0e4c0970fb1defdb8e00a9dcd691c8dde5

[2021-04-14 08:14] cartr commented on #74
Thank you for your report! We actually already have a PR open to resolve this issue (thanks to a third-party contributor), which I will try and get tested/out tomorrow: https://github.com/cartr/homebrew-qt4/pull/73. In the short term, this shouldn't affect your use of Homebrew at all, beyond printing annoying warning messages a lot.

Unfortunately Homebrew really likes to do this kind of thing whe

[2021-04-15 02:54] #74 closed

[2021-04-15 02:55] cartr commented on #74
This should now be fixed the next time you run `brew update`. Please let me know if you see the warning message again!

[2021-04-23 15:51] devernay commented on #72
main download site is back

[2021-04-23 15:51] #72 closed

[2021-04-23 15:54] devernay opened #75 "fix drawing performance on Big Sur"
I fixed the drawing performance issues on Big Sur in that MacPorts PR: https://github.com/macports/macports-ports/pull/10770

I will try to make a PR here with that same change, but if anybody else has time, please do!

[2021-05-03 23:36] jinhyoo commented on #71
Bintray is officially shut down and it seems that installing PyQt4 is broken.

[2021-05-04 03:05] #71 closed

[2021-05-04 03:07] cartr commented on #71
Apologies for the delay! I've pushed a change that should resolve this by moving the bottles from BinTray to GitHub Releases.

There are still some broken bottle links, for more obscure packages that I never rebuilt/migrated off the bottles Homebrew originally shipped for them. Please let me know if you'd like me to fix any of these, or if installing PyQt4 is still broken.

[2021-05-04 23:37] jinhyoo commented on #71
Thanks for the quick turnaround! It looks like openssl, which pyqt depends on, is still using bintray.

[2021-05-05 00:47] cartr commented on #71
@jinhyoo Good catch! I'd forgotten to clear my cache before testing the change. The remaining packages should be fixed.

[2021-05-07 04:51] devernay commented on #71
We could also switch to using the system's openssl, we have a patch:  https://github.com/macports/macports-ports/blob/master/aqua/qt4-mac/files/patch-qt4-openssl111.diff

[2021-06-29 09:04] cyx646370255 opened #76 "failed to install qt4 on my mac"
I try to install qt4 on my Mac(bigsur 11.4, m1) by
[code]
but it failed.
Here is the output.
[code]

[2021-07-05 19:45] cartr commented on #76
Sorry to hear the package didn't work from you. Unfortunately, I don't currently own an M1 mac, so I don't have an easy way to debug this issue.

Just to see if there's any low-hanging fruit, could you please post the full contents of the `/Users/username/Library/Logs/Homebrew/qt@4/02.make` logfile the error message mentioned?

[2021-09-23 15:52] #76 closed

[2021-11-02 17:42] devernay commented on #75
The fix is basically this diff: https://github.com/macports/macports-ports/blob/master/aqua/qt4-mac/files/patch-qt4-contentsformat.diff

[2022-01-15 19:29] mackdad42 opened #78 "brew install cartr/qt4/pyqt fails on MacOs Monterey"
Just started downloading new programs for a new lab IMac with MacOs Monterey and I'm trying to install pyqt for a secondary program.

Below I've copied and pasted the error output I'm given when I run the following command: brew install cartr/qt4/pyqt

I'm relatively new to computers, so I don't quite understand what's going wrong here. If anyone can help troubleshoot this, I'd greatly appreciate

[2022-03-11 01:06] eli-schwartz opened #81 "brew tap fails with invalid formula due to disabled bottle :unneeded"
https://github.com/cartr/homebrew-qt4/blob/aa161cdc9666b6718999c70d6e6e7e638181ed45/treeline.rb#L8
https://github.com/cartr/homebrew-qt4/blob/aa161cdc9666b6718999c70d6e6e7e638181ed45/qbzr.rb#L8

This becomes invalid in https://github.com/Homebrew/brew/pull/12259 and as a result it is no longer possible to tap this brew.

The following error is produced:
[code]

Found in https://github.com/mesonbui

[2022-03-11 01:09] cartr commented on #81
Thank you for reporting this issue!

I don't currently have access to a Mac to test changes to this tap. Is there any chance you could submit a Pull Request with the needed changes?

On Thu, Mar 10, 2022, at 5:06 PM, Eli Schwartz wrote:

`

[2022-03-11 01:29] eli-schwartz commented on #81
Sadly, I don't use macOS except in the sense that a project I work on has macOS CI which someone else set up. So I cannot test it either. :(

(I can do a lot of investigative work and digging to find the cause of the problem, but that's about my limit. I'm not even sure I fully understand what this formula statement does.)

Based on following links from that ticket and https://github.com/Homebrew/

[2022-03-11 15:46] eli-schwartz commented on #81
Alright, I tried to test this out by removing those lines and pointing the Meson CI at my fork, results are here: https://github.com/eli-schwartz/meson/runs/5513240977?check_suite_focus=true

The error is gone, qt4 is successfully installed and the CI that tries to build a program against Qt4 now passes.

My hope is that that means my fix is correct. :D

[2022-03-11 21:55] #81 closed

[2022-04-07 19:20] ShaharHD opened #83 "brew install cartr/qt4/openssl@1.0 fails on Monterey"
Openssl@1.0 is failing with missing `makedepend` when it does exists and in the path
Any idea how to resolve this?

[code]

[2022-05-13 20:49] ShaharHD commented on #83
Any idea how to resolve this?

[2022-06-05 10:35] rudolphmax commented on #83
Please address this issue - This is really frustrating. There doesn't seem to be any way around this.

[2022-06-20 10:45] irinatu opened #84 "MacOS M1 error installation"
can not install on the MacOS v12.4 M1 architecture :
==> Installing cartr/qt4/qt@4 dependency: openssl@1.0
==> perl ./Configure --prefix=/opt/homebrew/Cellar/openssl@1.0/1.0.2t --openssldir=/opt/homebrew/etc/openssl no-ssl2 no-ssl3 no-zlib shared enable-cms darwin64-x86_64-cc enable-ec_nistp_64_gcc_128
==> make depend
==> make
Last 15 lines from /Users/ituszynska/Library/Logs/Homebrew/openssl@1.0/

[2022-07-18 16:53] rahim commented on #84
I'm also seeing the above, also MacOS v12.4 ARM M1.

[2022-07-18 17:24] mc-introhive commented on #83
I suspected if this is caused by `brew` architecture. I used to have the same issue because I had the ARM version of `brew` installed. But now I installed `brew` in `x86_64` compatible version (`Rosetta 2 = True`)

As you can see from my `brew --config`, specifically these two parameters

* `macOS: 12.4-x86_64`
* `Rosetta 2: true`

Because if you installed `brew` in ARM mode (aka Apple M1 native),

[2022-07-18 17:24] mc-introhive commented on #84
https://github.com/cartr/homebrew-qt4/issues/83#issuecomment-1187845142

[2022-10-20 00:53] sho-he commented on #78
@mackdad42

Hello.
Is it settled?
I have same error in my m1 mac.
If you have solution of this problems, I want you to share it.
 best regards.

[2022-10-22 17:24] ShaharHD commented on #83
Resolved the issue by creating a parallel brew-x64 installation

[2022-10-22 17:24] #83 closed